body{
    background-color: #f4f4f4;
    margin: 0;
}

.body{
    margin: 6rem 0 3rem;
}

.header{
    background-color: #ff7315;
    margin: 0 0 1rem 0;
    padding: 0 0.9rem 0 0.5rem;
}

.main-heading{
    font-family: 'Girassol', cursive;
    margin: 0 0 0 0;
    font-size: 3rem;
    text-decoration: none;
    color: #3a3535;
}

.main-heading:hover{
    color: #3a3535;
    text-decoration: none;
}

.form{
    padding: 0.8rem;
    border: solid #3a3535 1px;
    border-radius: 1rem;
}

input{
    margin: 0.2rem 0;
}

.chkbx{
    margin-left: 1.4rem;
}

.form-register{
    padding: 0.8rem;
    border: solid #3a3535 1px;
    border-radius: 1rem;
}

.form-heading{
    text-align: center;
    font-size: 2rem;
}


.create-note{
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 2px;
    border-radius: 0.25rem;
    border: solid 0.5px #999999;
    
}

.note .button{
    color: #f4f4f4;
    cursor: pointer;
    font-size: 1.5rem;

}

.create-note .button{
    color: #3a3535;
    cursor: pointer;
    font-size: 2rem;
}

.note{
    background-color: #3a3535;
    color: #f4f4f4;
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: solid 1px #555;
}

.logout{
    font-size: 3.3rem;
    margin: 0.8rem 0;
    color: #3a3535;
}

.logout:hover{
    color: #fff;
    cursor: pointer;
}   

.title{
    font-family: 'Concert One', cursive;
}

.message{
    font-family: 'Inconsolata', monospace;
}

.error{
    background-color: rgb(185, 17, 17);
    color: #fff;
    text-align: center;
}

.footer{
    background-color: #232020;
    width: 100%;
    padding: 0.4rem 0;
    text-align: center;
    color: #b4a6a6;
    /* position: absolute;
    bottom: 0; */
}

.error-div{
    width: 40%;
    margin: auto;
    text-align: center;
}

.error-heading{
    font-size: 9rem;
}

.error-message{
    font-size: 1.5rem;
}